beautifulsoup4==4.3.2
Pillow==2.5.1
PyYAML==3.11
cssselect==0.9.1
lxml==3.3.5
nltk==2.0.5
requests==2.6.0
six==1.7.3
jieba==0.35
feedparser==5.1.3
tldextract==1.5.1
feedfinder2==0.0.1
python-dateutil==2.4.0
