beautifulsoup4>=4.8.2
cssselect>=1.1.0
feedfinder2>=0.0.4
feedparser>=5.2.1
jieba3k>=0.35.1
lxml>=3.6.0
nltk>=3.2.1
Pillow>=3.3.0
pythainlp>=1.7.2
python-dateutil>=2.5.3
PyYAML>=3.11
requests>=2.21.0
tinysegmenter==0.3  # TODO(codelucas): Investigate making this >=0.3
tldextract>=2.0.1
selenium>=3.141.0
fake_useragent>=0.1.11
pandas>=1.0.3
pytest>=5.4.1